@import "common";
.page_about
  
  .btn_expand.cross
    position: absolute
    right: 20px
    top: 20px
    
  
  .section_hero
    padding-top: grid_sz(0,5)
    .container.full
      position: absolute
      top: 0
      .col_left
        width: calc(50% + #{grid_sz(1,1.5)})

        background-image: url("/img/about/1.jpg")
        background-size: cover
        background-position: right top

        &:before
          +pseudo_ab_full
          background-color: rgba($color_grey_dark,0.1)
    
      .col_right
        width: calc(50% - #{grid_sz(1,1.5)})
        background-color: $color_grey_dark
  
    .container_content
      .col_right
        padding-left: grid_sz(1.5,1)

      .timelog
        position: relative
        

        .month,.title
          position: absolute
          right: calc(100% + #{grid_sz(0,1)})
          width: grid_sz(1,0)
          text-align: right
          +trans
      
        .title          
          left: initial
          top: grid_sz(0,-1)
          // right: calc(100% + #{grid_sz(1,0)})
          font-weight: 300
          color: $color_grey_light
        
        &.active
          .title
            top:  grid_sz(0,-3)
            color: $color_theme
            
  
        li
          list-style: none
          width: grid_sz(3,4)
          border-left: solid 1px $color_theme
          position: relative
          vertical-align: middle
          min-height: grid_sz(0,2)
          span
            color: $color_grey_light
            margin-top: -10px
          span.content
            top: -10px

          text-align: left
          padding-bottom: grid_sz(0,1)
          padding-left: grid_sz(0.5,0)
          

          &:before
            content: ''
            display: block
            +size(10px)
            transform: translate(-5px)
            border-radius: 50%
            background-color: $color_theme
            position: absolute
            left: 0
            top: 0

          &.active
            span.content
              color: $color_theme


    .container_content

      .col_left
        padding-top: grid_sz(0,7)
        padding-bottom: grid_sz(0,7)
        padding-right: grid_sz(0,2.5)
        align-items: flex-start
        width: calc(50% + #{grid_sz(1,1.5)})
        h4
          font-size: 20px
        .section_feature
          margin-top: grid_sz(0,3)

        p
          margin-top: grid_sz(0,3)
        *
          color: $color_white
          font-weight: 300
          text-align: left
      .col_right
        width: calc(50% - #{grid_sz(1,1.5)})
  
  //中間三個格子
  .section_blocks
    background-image: url("/img/about/2.jpg")
    background-size: cover
    *
      color: white
      font-weight: 300
    .block
      width: calc(100% / 3) 
      padding: grid_sz(0,4) 0px
      height: grid_sz(5,0)
      // +flex_center
      flex-direction: column
      &:before
        +pseudo_ab_full
        background-color: rgba($color_theme,0.7)
        +trans
      &:nth-child(1)
        &:before
          background-color: rgba($color_theme,0.8)
        &:hover
          &:before
            background-color: rgba($color_theme,0.85)


      &:nth-child(2)
        &:before
          background-color: rgba( darken($color_theme,4) ,0.9)
        &:hover
          &:before
            background-color: rgba($color_theme,0.95)

      &:nth-child(3)
        &:before
          background-color: rgba($color_theme,0.85)
        &:hover
          &:before
            background-color: rgba($color_theme,0.9)

    .block_title
      font-size: 24px
      margin-bottom: grid_sz(0,2)
    .infos
      width: grid_sz(4,3)
      margin: auto
  
  .section_member
  
    .person_area
      display: flex
      flex-wrap: wrap

    .section_title
      margin-top: grid_sz(0,8)
      margin-bottom: grid_sz(0,5)
      text-align: center
      font-weight: 400
      letter-spacing: 5px
      color: $color_grey

    .person_box
      padding: $gutter_width*2 $gutter_width*1
      position: relative
      display: flex
      text-align: left
      height: grid_sz(0,15)
      margin: grid_sz(0,0.5) 0
      
      .cover
        +full
        background-image: url("/img/about/3.jpg")
  
      .col_left,.col_right
        +trans

      .col_left
        width: grid_sz(2,1)
        padding: 0
        height: 100%

      .col_right
        width: grid_sz(4,3)
        padding: grid_sz(0,2) grid_sz(0,1)
        display: block
        height: 100%
        text-align: left

      &.small
        width: grid_sz(6,5)
        
        height: grid_sz(5,1)
        padding: 0


      &.big.container.flex
        height: grid_sz(0,23)
        padding: 0
        // margin: grid_sz(0,0.5)

        .col_left
          width: grid_sz(4,3)
          
          

        .col_right
          width: grid_sz(8,7)
          
      .bigger_text
        font-size: 1.1em

      font-weight: 800
      
      h5
        margin-top: grid_sz(0,1)
        font-size: 18px
        &:first
          margin-top: 0px

      h5.name
        margin-top: 0px
        
      p
        margin-top: grid_sz(0,1)
        margin-bottom: grid_sz(0,1)

      p,li
        color: rgba(black,0.6)

      ul
        list-style: none
        padding: 0
        padding-top: grid_sz(0,1)
        li
          // padding-top: 3px
          // padding-bottom: 3px
          &:before
            content: "."
            position: relative
            display: inline-block
            top: -5px
            margin-right: 15px  
      
      .experience
        +ab_full
        opacity: 0
        +trans
        padding: grid_sz(0,1)

        +flex_center
        
        h5,li,p
          color: white
        p
          letter-spacing: 2px
          font-weight: 300
    
      &.active
        .col_left,.col_right
          filter: blur(6px)

        .experience
          opacity: 1
          background-color: rgba($color_theme,0.8)
          
        .btn_expand.cross
          &:before,&:after
            background-color: white
          &:before
            transform: translate(-50%,-50%) rotate(45deg)
          &:after
            transform: translate(-50%,-50%) rotate(135deg)

        // p,li,h4
        //   color: rgba(white,0.8)
