@import "common";

@function full_grid($c,$span,$fix: 0px)
  @return calc( (100vw - 24px * 13) * #{$c} / 12 + 24px * #{$span} + #{$fix})

$color_bg_grey: #F1F3F5
.page_news
  .section_hero

    .container.full.flex
      height: grid_sz(10,4)
      text-align: left
    .col_left,.col_right
      padding-top: grid_sz(0,11)
      padding-bottom: grid_sz(0,7)
      height: 100%
    .col_left
      width: percent_grid(7,7)
      background-color: $color_grey_dark
      text-align: left
      background-image: url("/img/news1.jpg")
      background-size: cover
      &:before
        +pseudo_ab_full
        background-color: rgba($color_theme,0.8)
      h1.title
        margin-top: grid_sz(0,-2)
        margin-bottom: grid_sz(0,4)
        // transform: translateY(-10px)
        letter-spacing: 6px
        line-height: 1.5em
        a
          font-weight: 300
          
      p
        font-weight: 300
      *
        color: white
      padding-left: full_grid(1,2)
      padding-right: full_grid(1,2)

    .col_right
      width: percent_grid(5,6)
      vertical-align: top
      padding-left: 0
      padding-right: 0

      align-items: flex-start
      background-color: $color_bg_grey

      .date,.title,.circle
        display: inline-block
        +trans

        color: $color_grey
      .date
        width: grid_sz(1,0)
        text-align: right
        font-size: 15px

      .circle
        margin: 0px 14px
        +size(12px)
        background-color: #ccc
        border-radius: 50%
        +trans
      .title
        font-size: 20px
      
    ul
      text-align: left
      padding: 0
      width: 100%
      li
        padding-left: grid_sz(0,1)
        padding-top: grid_sz(0,2)
        padding-bottom: grid_sz(0,2)
        width: 100%
        cursor: pointer
        +trans
        &:after
          content: ""
          display: block
          position: absolute
          +size(20px)
          top: 50%
          left: 0px
          background-color: #F1F3F5
          +trans

          transform: translate(-50%,-50%) rotate(45deg)
        
        &.active,&:hover
          background-color: white
          &:after
            background-color: white
          .title,.date
            color: $color_theme
          .circle
            background-color: $color_theme

  .section_news
    .container
      padding: grid_sz(0,4) full_grid(1,1)
      
      align-items: flex-start

      +range_width(0px,800px)
        flex-direction: column
    .catabar
      width: full_grid(1,1)
      min-width: grid_sz(2,2)
      font-size: 18px
      color: $color_grey_light
      height: 100%
      li
        margin-bottom: grid_sz(0,1)
        border-bottom: solid 1px transparent
        display: inline-block
        margin-right: 40px
        cursor: pointer
      
        &:hover
          color: $color_theme

        +trans
        &.active,&:focus
          padding-top: grid_sz(0,1)
          padding-bottom: grid_sz(0,1)
          border-bottom: solid 1px $color_theme
          color: $color_theme
      .active
        font-size: 24px

    .area_news
      padding-left: full_grid(0,0.5)
      padding-right: full_grid(0,0.5)
      width: 100%
      display: flex
      flex-wrap: wrap
    .news_box
      float: left
      background-color: $color_bg_grey
      background-image: url("/img/news2.jpg")
      margin: grid_sz(0,1)
      padding: grid_sz(0,1)
      min-height: grid_sz(0,15)
      +flex_center
      flex-direction: column
      align-items: flex-start
      box-sizing: border-box
      // justify-content: flex-start
      width: calc( ( 100% - 3 * #{grid_sz(0,2)} ) / 3 )
      padding-bottom: grid_sz(0,1)
      margin-left: full_grid(0,0.5)
      margin-right: full_grid(0,0.5)
      
      text-align: left
      *
        color: $color_theme
      .title
        +trans
        cursor: pointer
      .date,.describe
        font-weight: 300
      .describe
        overflow: hidden
        max-height: 0px
        margin-top: grid_sz(0,1)
        opacity: 0
        +trans
      .icon_more
        height: 7px
        width: 34px
        text-align: center
        // margin: auto
        margin-top: grid_sz(0,2)
        margin-left: auto
        margin-right: auto
        background: linear-gradient(90deg,$color_theme 0% ,$color_theme 20% ,transparent 20% ,transparent 40% ,$color_theme 40%,$color_theme 60%,transparent 60%,transparent 80%,$color_theme 80%,$color_theme 100%)
        opacity: 1
        +trans
      .date
        margin-top: grid_sz(0,1)
        opacity: 0
        +trans


      i.fa.fa-search  
        position: absolute
        right: grid_sz(0,1)
        bottom: grid_sz(0,1)
        font-size: grid_sz(0,1)
        opacity: 0
        cursor: pointer
        +trans

      // display: inline-block
      &:before
        +pseudo_ab_full
        background-color: rgba(white,0.9)
        +trans

      &:hover
        *
          color: white
        .date
          opacity: 1
        &:before
          background-color: rgba($color_theme,0.9)
        .describe
          max-height: 200px
          opacity: 1
        i.fa.fa-search
          opacity: 1
        .icon_more
          opacity: 0
          margin-top: -5px

  +range_width(0px,800px)
    .section_hero
      .col_left,.col_right
        width: 100%
        height: auto
    .section_news
      padding: 0px
      .container
        padding: 0px
      .area_news
        padding: 0px
        width: 100%
      .news_box
        width: 100%